{% extends '::cadastro.html.twig' %}

{% block body %}
    <a href="{{editar}}">Incluir professor</a><br>
    
    <table>
    {% for professor in professores %}
        <tr>
            <td>
                <a href="{{path('cyber_high_cadastro_professores',{'actionName':'editar','matricula':professor.matricula})}}">{{professor.matricula}}</a>
            </td>
            <td>{{professor.nome}}</td>
            <td>
                <a href="{{path('cyber_high_cadastro_professores',{'actionName':'excluir','matricula':professor.matricula})}}">X</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    
    <a href="{{homePage}}">Página inicial</a>
{% endblock %}